<h2 >Strings</h2>
<b>Strings in python are surrounded by either single quotation marks, or double quotation marks.

In [102]:
print("Data science")
print('Data science')

Data science
Data science

<b>Assigning a string to a variable is done with the variable name followed by an equal sign and the string

In [104]:
a = "Data science"
print(a)

Data science

<b>You can assign a multiline string to a variable by using three quotes

In [105]:
a = """This is a bsic python class.
We start with data types, function and classes.
After basic skills in python we learn machine learning"""
print(a)

This is a bsic python class.
We start with data types, function and classes.
After basic skills in python we learn machine learning

In [106]:
a = '''This is a bsic python class.
We start with data types, function and classes.
After basic skills in python we learn machine learning'''
print(a)

This is a bsic python class.
We start with data types, function and classes.
After basic skills in python we learn machine learning

<b>Like many other popular programming languages, strings in Python are <u>arrays</u> of bytes representing unicode characters.<br>

<b>However, Python does not have a character data type, a single character is simply a string with a length of 1. <br>

<b><u>Square brackets</u> can be used to access elements of the string.

In [6]:
data_s = "Data science"
print(data_s[9])

n

<b>Since strings are arrays, we can loop through the characters in a string, with a <u>for</u> loop.

In [8]:
for x in "Data":
  print(x)
  break

D

<b>To get the length of a string, use the <u>len()</u> function.

In [115]:
a = "Data science"
print(len(a))

12

In [ ]:
# len()

<b>To check if a certain phrase or character is present in a string, we can use the keyword <u>in</u>.

In [11]:
txt = "I ate a banana"
print("eat" in txt)

False

<b>Use it in an <u>if</u> statement

In [15]:
txt = "I ate a banana"
if "banana" in txt:
  print("Yes, 'banana' is present.")
else:
    print("it is other fruit")

Yes, 'banana' is present.

<b>To check if a certain phrase or character is NOT present in a string, we can use the keyword <u>not in</u>.

In [121]:
txt = "I ate a banana"
print("expensive" not in txt)

True

In [122]:
txt = "I ate a banana"
if "expensive" not in txt:
  print("No, 'expensive' is NOT present.")

No, 'expensive' is NOT present.

<h3 style="color:Red">Slicing Strings</h3>
<b>You can return a range of characters by using the slice syntax.

In [25]:
b = "Data science"
print(b[2:])

ta science

In [26]:
b = "Data science"
print(b[:-2])

Data scien

Upper Case <br>
<b>The <u>upper()</u> method returns the string in upper case:

In [27]:
a = "science"
print(a.upper())

SCIENCE

In [29]:
"data".upper()

'DATA'

<b>Lower Case <br>
The <u>lower()</u> method returns the string in lower case:

In [133]:
a = "Data science"
print(a.lower())

data science

<b>Remove Whitespace <br>
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

<b> The <u>strip()</u> method removes any whitespace from the beginning or the end

In [32]:
a = "  Data science "
print(a)
print(a.strip()) # returns "Hello, World!"

  Data science
Data science

<b>Replace String <br>
The <u>replace()</u> method replaces a string with another string:

In [33]:
a = "Data Science"
print(a.replace("D", "Q"))

Qata Science

<b>Split String <br>
The <u>split()</u> method returns a list where the text between the specified separator becomes the list items.

In [35]:
a = "Data, science"
print(a.split("D")) # returns ['Data', ' science!']

['', 'ata, science']

<b>String Concatenation <br>
To concatenate, <u>or</u> combine, two strings you can use the <u>+</u> operator.

In [39]:
a = "Data"
b = "Science"
c = a + b
print(c)

DataScience

In [37]:
a = "Data"
b = "Science"
c = a + " " + b
print(c)

Data Science

<b>String Format <br>
we can combine strings and numbers by using the <u>format()</u> method!

In [40]:

name = 'Ram'
age = 30
place = 'Lalitpur'

txt = "My name is {name}, and I am {age} years old. I live in {place}"
z= txt.format(name=name, age=age, place=place)
z

'My name is Ram, and I am 30 years old. I live in Lalitpur'

<h3 style="color:red;">Python Booleans</h3>
<b>Booleans represent one of two values: <u>True</u> or <u>False</u>.

In [41]:
print(10 > 9)
print(10 == 10)
print(10 < 9)

True
True
False

In [46]:
x=8
y=3
x//y

2

In [63]:
3==3

True

<h3 style="color:red;">Python Arithmetic Operators</h3>

 <table>
  <tr>
    <th>Operator</th>
    <th>Name</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>+</td>
    <td>Addition</td>
    <td>x + y</td>
  </tr>
  <tr>
    <td>-</td>
    <td>Subtraction</td>
    <td>x - y</td>
  </tr>
      <tr>
    <td>*</td>
    <td>Multiplication</td>
    <td>x * y</td>
  </tr>
       <tr>
    <td>/</td>
    <td>Division</td>
    <td>x / y</td>
  </tr>
       <tr>
    <td>%</td>
    <td>Modulus</td>
    <td>x % y</td>
  </tr>
       <tr>
    <td>**</td>
    <td>Exponentiation</td>
    <td>x ** y</td>
  </tr>
       <tr>
    <td>//</td>
    <td>Floor division	</td>
    <td>x // y	</td>
  </tr>
     
</table>

<h3 style="color:red;"'>Python Assignment Operators </h3>
Assignment operators are used to assign values to variables

 <table>
  <tr>
    <th>Operator</th>
    <th>Example</th>
    <th>Same As</th>
  </tr>
  <tr>
    <td>=</td>
    <td>x = 5</td>
    <td>x = 5</td>
  </tr>
  <tr>
    <td>+=</td>
    <td>x += 3</td>
    <td>x=x+3</td>
  </tr>
      <tr>
    <td>-=	</td>
    <td>x -= 3	</td>
    <td>x=x-3</td>
  </tr>
       <tr>
    <td>*=</td>
    <td>x *= 3</td>
    <td> x=x*3</td>
  </tr>
       <tr>
    <td>/=	</td>
    <td>x /= 3	</td>
    <td>x =x/3</td>
  </tr>
       <tr>
    <td>%=	</td>
    <td>x %= 3	</td>
    <td>x = x % 3	</td>
  </tr>
     
</table>

<h3 style="color:red;">Python Comparison Operators</h3>
Comparison operators are used to compare two values:

 <table>
  <tr>
    <th>Operator</th>
    <th>Name</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>==</td>
    <td>Equal</td>
    <td>x == y</td>
  </tr>
  <tr>
    <td>!=</td>
    <td>Not equal</td>
    <td>x != y</td>
  </tr>
      <tr>
    <td>></td>
    <td>Greater than</td>
    <td>x > y</td>
  </tr>
       <tr>
    <td><</td>
    <td>Less than</td>
    <td>x < y</td>
  </tr>
       <tr>
    <td>>=</td>
    <td>Greater than or equal to</td>
    <td>x >= y</td>
  </tr>
       <tr>
    <td><=</td>
    <td>Less than or equal to</td>
    <td>x <= y</td>
  </tr>
     
</table>

<h3 style="color:red;"> Python Logical Operators</h3>
Logical operators are used to combine conditional statements

 <table>
  <tr>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>and</td>
    <td>Returns True if both statements are true</td>
    <td>x < 5 and  x < 10</td>
  </tr>
  <tr>
    <td>or</td>
    <td>Returns True if one of the statements is true</td>
    <td>x < 5 or x < 4</td>
  </tr>
      <tr>
    <td>not</td>
    <td>Reverse the result, returns False if the result is true</td>
    <td>not(x < 5 and x < 10)</td>
  </tr>  
</table>

<h3 style="color:red;">Python Identity Operators</h3>
Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location

 <table>
  <tr>
    <th>Operator</th>
    <th>Description</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>is</td>
    <td>Returns True if both variables are the same object</td>
    <td>x < x is y < 10</td>
  </tr>
  <tr>
    <td>is not</td>
    <td>Returns True if both variables are not the same object</td>
    <td>x < x is not y< 4</td>
  </tr>
</table>

In [64]:
x = ["apple", "banana"]
y = ["apple", "banana"]
z = x

print(x is z)

# returns True because z is the same object as x

print(x is y)

# returns False because x is not the same object as y, even if they have the same content

print(x == y)

# to demonstrate the difference betweeen "is" and "==": this comparison returns True because x is equal to y

True
False
True

In [66]:
x = ["apple", "banana"]
y = ["apple", "car"]
z = x

print(x is not z)

# returns False because z is the same object as x

print(x is not y)

# returns True because x is not the same object as y, even if they have the same content

print(x != y)

# to demonstrate the difference betweeen "is not" and "!=": this comparison returns False because x is equal to y

False
True
True

<b><h2>Python If ... Else</h2> <br>
 
   Python supports the usual logical conditions from mathematics <br> 
    
 <table>
  <tr>
    <th>Operator</th>
    <th>Name</th>
    <th>Example</th>
  </tr>
  <tr>
    <td>==</td>
    <td>Equal</td>
    <td>x == y</td>
  </tr>
  <tr>
    <td>!=</td>
    <td>Not equal</td>
    <td>x != y</td>
  </tr>
      <tr>
    <td>></td>
    <td>Greater than</td>
    <td>x > y</td>
  </tr>
       <tr>
    <td><</td>
    <td>Less than</td>
    <td>x < y</td>
  </tr>
       <tr>
    <td>>=</td>
    <td>Greater than or equal to</td>
    <td>x >= y</td>
  </tr>
       <tr>
    <td><=</td>
    <td>Less than or equal to</td>
    <td>x <= y</td>
  </tr>
     
</table>

<b>If statement

In [23]:
a = 33
b = 200
if b > a:
    print("b is greater than a")

b is greater than a

In [69]:
age = 8
if age >= 18:
    print("The person can vote")
else:
    print("the person cannot vote")

the person cannot vote

<b>Elif <br> </b>
    The elif keyword is Python's way of saying "if the previous conditions were not true, then try this condition"

In [73]:
a = 33
b = 34
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
# elif a!=b:
#     print("this is output")

b is greater than a

<b>Else</b> <br>
The else keyword catches anything which isn't caught by the preceding conditions.

In [19]:
# write elif condition for the code below
age = 20
if age >= 18:
    print("The person can vote")
else:
    print("The person cannot vote")

The person can vote

In [21]:
a = 200
b = 33
if b > a:
  print("b is greater than a")
elif a == b:
  print("a and b are equal")
else:
  print("a is greater than b")

a is greater than b

<h3>Python Loops</h3> <br>
Python has two primitive loop commands:<br>

* while loops<br>
* for loops<br>

<b>The while Loop</b><br>
With the while loop we can execute a set of statements as long as a condition is true.

In [77]:
# Print i as long as i is less than 6:
i = 1
while i <= 6:
  print(i)
  i += 1    #remember to increment i, or else the loop will continue forever. 
#i=i+1

1
2
3
4
5
6

<b>The break Statement</b><br>
With the break statement we can stop the loop even if the while condition is true

In [32]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

<b>The continue Statement</b><br>
With the continue statement we can stop the current iteration, and continue with the next

In [35]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

In [36]:
i = 1
while i < 6:
  print(i)
  i += 1
else:
  print("i is no longer less than 6")

1
2
3
4
5
i is no longer less than 6

<h3>Python For Loops</h3><br>
A for loop is used for iterating over a sequence (that is either a list, a tuple, a dictionary, a set, or a string)

In [81]:
fruits = ["apple", "banana", "cherry", 1]
for x in fruits:
  print(x)
  if x=='banana':
        break

apple
banana

In [39]:
for x in "banana":
  print(x)

b
a
n
a
n
a

In [40]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

apple
banana

In [41]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    continue
  print(x)

apple
cherry

In [52]:
for x in range(3, 6):
  print(x)

3
4
5

In [54]:
for x in range(3, 15, 4):
  print(x)

3
7
11

In [82]:
# Nested loop

In [57]:
adj = ["red", "big", "tasty"]
fruits = ["apple", "banana", "cherry"]

for x in adj:
    for y in fruits:
        print(x, y)

red apple
red banana
red cherry
big apple
big banana
big cherry
tasty apple
tasty banana
tasty cherry

In [ ]:
x= 18 #find it x and y is ood or even 
y= 3

In [66]:
x = 18

if x % 2 == 0:
    print(x,"Is Even Number")
else:
    print(x, "Is Odd Number")

y = 3

if y % 2 == 0:
    print(y,"Is Even Number")
else:
    print(y, "Is Odd Number")

18 Is Even Number
3 Is Odd Number

In [ ]:
# a = [3, 6, 99, 45]

<h2 style="color:red;">Python Lists</h2> <br>
* Lists are used to store multiple items in a single variable. <br>
* Lists are one of 4 built-in data types in Python used to store collections of data. <br>
* Lists are created using square brackets. <br>
* can change, add, and remove items in a list <br>

In [160]:
fruits = ["apple", "banana", "cherry"]
print(fruits)

['apple', 'banana', 'cherry']

In [83]:
#Lists allow duplicate values
apple = ["apple", "banana", "cherry", "apple", "cherry"]
print(apple)
len(apple)

['apple', 'banana', 'cherry', 'apple', 'cherry']

5

<b>To determine how many items a list has, use the <u>len()</u> function

In [167]:
fruits = ["apple", "banana", "cherry"]
print(len(fruits))

3

<b>List items can be of any data type

In [168]:
list1 = ["apple", "banana", "cherry"]
list2 = [1, 5, 7, 9, 3]
list3 = [True, False, False]

In [169]:
#A list can contain different data types
list1 = ["abc", 34, True, 40, "male"]

<b> We use the list() constructor when creating a new list.

In [171]:
fruits = list(("apple", "banana", "cherry")) # note the double round-brackets
print(fruits)

['apple', 'banana', 'cherry']

In [ ]:
# list((""))

<b>List items are indexed and you can access them by referring to the index number

In [90]:
fruits = ["apple", "banana", "cherry"]
print(fruits[:-1])

['apple', 'banana']

In [89]:
fruits = ["apple", "banana", "cherry"]
print(fruits[-1])

cherry

In [179]:
#slicing
fruits = ["apple", "banana", "cherry"]
print(fruits[:2])

['apple', 'banana']

In [183]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(fruits[-4:-1])

['orange', 'kiwi', 'melon']

<b>Check if Item Exists

In [91]:
fruit = ["apple", "banana", "cherry"]
if "apple" in fruit:
  print("Yes, 'apple' is in the fruits list")

Yes, 'apple' is in the fruits list

In [92]:
for i in fruit:
    if i=="apple":
        print("Yes, there is an apple")

Yes, there is an apple

<b>Change Item Value <br>
To change the value of a specific item, refer to the index number

In [95]:
fruit = ["apple", "banana", "cherry"]
fruit[-1] = "blackcurrant"
print(fruit)

['apple', 'banana', 'blackcurrant']

In [96]:
fruit = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
fruit[-1:-3] = ["blackcurrant", "watermelon"]
print(fruit)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'blackcurrant', 'watermelon', 'mango']

In [188]:
fruit = ["apple", "banana", "cherry"]
fruit[1:3] = ["watermelon"]
print(fruit)

['apple', 'watermelon']

<b>Insert Items <br>
To insert a new list item, without replacing any of the existing values, we can use the <u>insert()</u> method.

In [190]:
fruit = ["apple", "banana", "cherry"]
fruit.insert(2, "watermelon")
print(fruit)

['apple', 'banana', 'watermelon', 'cherry']

<b>Append Items <br>
To add an item to the end of the list, use the <u>append()</u> method:

In [192]:
fruit = ["apple", "banana", "cherry"]
fruit.append("orange")
print(fruit)

['apple', 'banana', 'cherry', 'orange']

<b>Insert Items <br>
To insert a list item at a specified index, use the insert() method. <br>
<b>The insert() method inserts an item at the specified index

In [1]:
fruit = ["apple", "banana", "cherry"]
fruit.insert(1, "orange")
print(fruit)

['apple', 'orange', 'banana', 'cherry']