<b>Extend List <br>
To append elements from another list to the current list, use the <u>extend()</u> method.

In [2]:
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [3]:
a = [1, 7, 9, 0]
b = ["cat", "dog", "cow"]
c = ("bus", "car", "bike")

In [5]:
a.extend(b)
a

[1, 7, 9, 0, 'cat', 'dog', 'cow', 'cat', 'dog', 'cow']

<b>Add Any Iterable <br>
The <u>extend()</u> method does not have to append lists, you can add any iterable object (tuples, sets, dictionaries etc.).

In [6]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

<b>Remove Specified Item <br>
The <u>remove()</u> method removes the specified item.

In [7]:
fruit = ["apple", "banana", "cherry"]
fruit.remove("banana")
print(fruit)

['apple', 'cherry']

In [8]:
fruit = ["apple", "banana", "cherry", "banana", "kiwi"]
fruit.remove("banana")
print(fruit)

['apple', 'cherry', 'banana', 'kiwi']

<b>Remove Specified Index <br>
The <u>pop()</u> method removes the specified index.

In [12]:
fruit = ["apple", "banana", "cherry"]
fruit.pop(0)
print(fruit)

['banana', 'cherry']

<b>If you do not specify the index, the pop() method removes the last item.

In [13]:
fruit = ["apple", "banana", "cherry"]
del fruit[0]
print(fruit)

['banana', 'cherry']

In [14]:
fruit = ["apple", "banana", "cherry"]
del fruit

In [15]:
fruit

NameError: name 'fruit' is not defined

<b>Clear the List <br>
The clear() method empties the list. <br>
<b>The list still remains, but it has no content. <br>

In [16]:
fruit = ["apple", "banana", "cherry"]
fruit.clear()
print(fruit)

[]

<b>Loop Through a List</b> <br>
You can loop through the list items by using a for loop

In [3]:
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

apple
banana
cherry

<b>Loop Through the Index Numbers </b><br>
You can also loop through the list items by referring to their index number. <br>

Use the range() and len() functions to create a suitable iterable

In [18]:
fruits = ["apple", "banana", "cherry"]
len(fruits)
for i in range(len(fruits)):
    print(i)

0
1
2

In [19]:
fruits = ["apple", "banana", "cherry"]
for i in range(len(fruits)):
  print(fruits[i])

apple
banana
cherry

<b>Using a While Loop

In [20]:
fruits = ["apple", "banana", "cherry"]
i = 0
while i < len(fruits):
    # print(i)
    print(fruits[i])
    i = i + 1
#     i+=1

apple
banana
cherry

<b>Looping Using List Comprehension

In [25]:
fruits = ["apple", "banana", "cherry"]
a = [x for x in fruits]
a

['apple', 'banana', 'cherry']

In [24]:
fruits = ["apple", "banana", "cherry"]

for x in fruits:
    print(x)

apple
banana
cherry

<b>List Comprehension</b><br>
List comprehension offers a shorter syntax when you want to create a new list based on the values of an existing list.

In [3]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango,", 'deer']
newlist = []

for x in fruits:
  if "a" in x:
    newlist.append(x)

print(newlist)

['apple', 'banana', 'mango,']

In [30]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango", 'deer']

newlist = [x for x in fruits if "a" in x]

print(newlist)

['apple', 'banana', 'mango']

<b> Sort List Alphanumerically </b> <br>
List objects have a sort() method that will sort the list alphanumerically, ascending, by default

In [31]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort()
print(thislist)

['banana', 'kiwi', 'mango', 'orange', 'pineapple']

In [27]:
thislist = [100, 50, 65, 82, 23]
thislist.sort()
print(thislist[-1])

100

In [33]:
thislist = ["orange", "mango", "kiwi", "pineapple", "banana"]
thislist.sort(reverse = True)
print(thislist)

['pineapple', 'orange', 'mango', 'kiwi', 'banana']

In [28]:
thislist = [100, 50, 65, 82, 23]
thislist.sort(reverse = True)
print(thislist)

[100, 82, 65, 50, 23]

<h4>Task</h4>

<b>Program to Find Largest Number in a List

In [35]:
a = [10, 20, 4, 45, 99]

In [36]:
a.sort()

In [38]:
print("Largest element is:", a[-1])

Largest element is: 99

In [39]:
print("Largest element is:", max(a))

Largest element is: 99

In [31]:
x = 7 
input()

sajjan

'sajjan'

In [32]:
# Python program to find largest
# number in a list
 
# Creating an empty list
list1 = []
 
# asking number of elements to put in list
num = int(input("Enter number of elements in list: "))
 
# Iterating till num to append elements in list
for i in range(num):
    ele = int(input("Enter elements: "))
    list1.append(ele)
 
# Printing maximum element
print("Largest element is:", max(list1))

Enter number of elements in list: 3
Enter elements: 43
Enter elements: 3
Enter elements: 67
Largest element is: 67

In [9]:
# # Python program to print odd Numbers in given range
 
# start, end = 4, 19
 
# # iterating each number in list
# for num in range(start, end+1):
     
#     # checking condition
#     if num % 2 != 0:
#         print(num, end = " ")

<b>Tuple</b><br>
* Tuples are used to store multiple items in a single variable. <br>
* It is ordered and unchangeable
* Tuples are written with round brackets.
*  It allows duplicate items

In [33]:
vechile = ("car", "bus", "bike", "car", 6)
print(vechile)

('car', 'bus', 'bike', 'car', 6)

In [34]:
print(type(vechile))

<class 'tuple'>

In [35]:
len(vechile)

5

In [38]:
vechile = ("car", ) # a single data in small bracket is not a tuple
                    # should be seperated by comma

In [39]:
type(vechile)

tuple

In [40]:
random = ("car", 34, 4.5, True) # tuple can be of different data type

In [36]:
random

('car', 34, 4.5, True)

In [41]:
# vechile = ("car", "bus", "bike", "car")
vechile = tuple(("car", "bus", "bike", "car"))

In [43]:
a  = list((1, 4, 6))
a

[1, 4, 6]

In [42]:
type(vechile)

tuple

In [44]:
vechile[-4:-2]

('car', 'bus')

In [45]:
if "car" in vechile:
    print("yes")

yes

<b>Once a tuple is created, you cannot change its values. Tuples are unchangeable, or <u>immutable</u> as it also is called.

In [46]:
vechile = ("car", "bus", "bike", "car")

In [47]:
x = list(vechile)

In [48]:
type(x)

list

In [50]:
x.append("daaaa")   #x.insert(1, 1)     #x[3] = 1

In [51]:
tuple(x)

('car', 'bus', 'bike', 'car', 'daaaa', 'daaaa')

In [73]:
#unpack tuple
vechile = ("car", "bus", "bike")
(x, y, z) = vechile
print(x)
print(y)
print(z)

car
bus
bike

In [72]:
# vechile = ("car", "bus", "bike", "1", "99")

In [52]:
# loop tuple using while loop
vechile = ("car", "bus", "bike", "1", "99")
i = 0
while i < len(vechile):
  print(vechile[i])
  i = i + 1

car
bus
bike
1
99

In [77]:
# To join two or more tuples you can use the + operator
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2
print(tuple3)

('a', 'b', 'c', 1, 2, 3)

<b>Python Sets</b><br>
* Sets are used to store multiple items in a single variable. (same as list and tuple)<br>
* A set is a collection which is unordered, unchangeable*, and unindexed.
* Sets are written with curly brackets.

In [53]:
vechile = {"car", "bus", "bike"}

In [54]:
print(type(vechile))

<class 'set'>

In [57]:
vechile = {"car", "bus", "bike", "bike"}  # no dupicate, duplicate value will be ignoredduplicate value will be ignored
print(vechile)

{'bike', 'bus', 'car'}

In [58]:
vechile

{'bike', 'bus', 'car'}

In [59]:
vechile = {"car", "bus", "bike", "bike", True, 1}  # no dupicate, duplicate value will be ignored
print(len(vechile))
print(vechile)

4
{'bike', True, 'bus', 'car'}

In [60]:
#It is also possible to use the set() constructor to make a set.
vechile = set(("car", "bus", "bike", "bike", True, 1))
print(vechile)

{'bike', 'bus', 'car', True}

In [63]:
#loop in set
for i  in vechile:
    print(i)

bike
bus
car
True

<b>add items in set using <u>add()</u>

In [64]:
#add items in set using add()
vechile = {"car", "bus", "bike"}
vechile.add("truck")
print(vechile)

{'bike', 'bus', 'truck', 'car'}

<b>To add items from another set into the current set, use the <u>update()</u> method.</b>

In [65]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}

thisset.update(tropical)

print(thisset)

{'banana', 'mango', 'pineapple', 'cherry', 'apple', 'papaya'}

In [66]:
thisset = {"apple", "banana", "cherry"}
mylist = ("kiwi", "orange")

thisset.update(mylist)

print(thisset)

{'banana', 'orange', 'cherry', 'kiwi', 'apple'}

<b>Remove a random item by using the <u>remove(), discard()</u> method

In [69]:
thisset = {"apple", "banana", "cherry"}

thisset.remove("banana")   #discard("banana")

# print(x)

print(thisset)

{'apple', 'cherry'}

<b>we can use <u>union()</u> and <u>update()</u> method to join sets

In [122]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)  #update(set2)
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

<h2>Python Dictionaries</h2>
* Dictionaries are written with curly brackets, and have keys and values.<br>
* Dictionaries are used to store data values in key:value pairs. <br>
* A dictionary is a collection which is ordered*, changeable and do not allow duplicates. <br>

In [78]:
dict = {
  "brand": "Ford",     # values can be of any data types
  "model": "Mustang",
  "year": 1964
}
print(dict)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [71]:
print(len(dict))

3

In [73]:
# Nested dictionary
students = {
  "student_1" : {
    "name" : "Anil",
    "year" : 2004
  },
  "student_2" : {
    "name" : "Sita",
    "year" : 2007
  },
  "student_3" : {
    "name" : "Laxmi",
    "year" : 2011
  }
}

In [75]:
students["student_1"]['name']

'Anil'

In [3]:
  student_1 = {
    "name" : "Anil",
    "year" : 2004
  }

    
student_2 = {
    "name" : "Sita",
    "year" : 2007
  }

student_3 = {
    "name" : "Laxmi",
    "year" : 2011
  }

classSix = {
    "student_1": student_1, 
    "student_2": student_2, 
    "student_3": student_3
}

In [2]:
classSix['student_1']

{'name': 'Anil', 'year': 2004}

In [77]:
# access dictionary items
print(dict["brand"]) # with key

print(dict.get("brand")) # with get() method

Ford
Ford

<b>The <u>keys()</u> method will return a list of all the keys in the dictionary.

In [132]:
dict.keys()

dict_keys(['brand', 'model', 'year'])

<b>The <u>values()</u> method will return a list of all the values in the dictionary

In [79]:
dict.values()

dict_values(['Ford', 'Mustang', 1964])

In [80]:
# add or update dictionary keys
dict["year"]="2000"
dict

{'brand': 'Ford', 'model': 'Mustang', 'year': '2000'}

In [81]:
#Check if "model" is present in the dictionary
dict = {
  "brand": "Ford",    
  "model": "Mustang",
  "year": 1964
}

if "model" in dict:
    print("Yes")
else:
    print("no")

Yes

In [82]:
#using pop() method to remove dictionary items
dict = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
dict.pop("model")
print(dict)

{'brand': 'Ford', 'year': 1964}

In [83]:
#loop in dictionary
for i in dict:
    print(i)

brand
year

In [154]:
for i in dict:
    print(dict[i])

Ford
1964

In [84]:
for i, j in dict.items():
    print(i, j)

brand Ford
year 1964

In [85]:

#copy dictionary with copy() method 
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}
new_car = car.copy()
print(new_car)

{'brand': 'Ford', 'model': 'Mustang', 'year': 1964}

In [86]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.clear()

print(car)

{}

In [87]:
car = {
  "brand": "Ford",
  "model": "Mustang",
  "year": 1964
}

car.pop("model")

print(car)

{'brand': 'Ford', 'year': 1964}

<b>Python Collections (Arrays)</b> <br>
* List
* Tuple
* Set
* Dictionary

<b>Array</b><br>
An array is a special variable, which can hold more than one value at a time.

<h3>Python Functions</h3> <br>

* A function is a block of code which only runs when it is called.

* You can pass data, known as parameters, into a function.

* A function can return data as a result.

In [94]:
def my_function():
    print("Hello from a function")

my_function()

Hello from a function

In [2]:
def add(a, b):   # a and b are called parameter #A parameter is the variable listed inside the parentheses in the function definition. 
    z = a+b
#     print(z)
    return z
    
add(2, 4) # 2 & 4 are called argument # An argument is the value that is sent to the function when it is called.

6

<b>If you do not know how many arguments that will be passed into your function, add a * before the parameter name in the function definition.

In [100]:
def my_function(*kids):
  print("The youngest child is " + kids[2])

my_function("Emil", "Tobias", "Linus")

The youngest child is Linus

<b>Default Parameter Value</b><br>
If we call the function without argument, it uses the default value

In [101]:

def my_function(a=4, b=6):
  sum = a+b
  return sum

my_function()
# my_function(6, 6)

10

In [102]:
def my_function(food):
  for x in food:
    print(x)

fruits = {'c':"apple", 'd':"banana", 'e':"cherry"}

my_function(fruits)

c
d
e

<b>The pass Statement</b> <br>
function definitions cannot be empty, but if you for some reason have a function definition with no content, put in the <b><u>pass</u></b> statement to avoid getting an error.

In [6]:
def myfunction():
    pass

<h3>Exercise </h3>

Generate a Python list of all the even numbers between 4 to 30

In [106]:
list(range(4, 30, 2))

[4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28]

Find the largest item from a given list <br>
x = [4, 6, 8, 24, 12, 2]

In [20]:
x = [4, 6, 8, 24, 12, 2]
max(x)
# x.sort(reverse=True)
# z = x[0]
# print(z)

24

Define a function that accepts radius and returns the area of a circle. <br>
radius = 4 <br>
formula for area of circle = 2*π^2

In [113]:
def area(radius):
    area = 3.14*radius*radius
    return area

area(4)


# radius = float(input("Enter Radius: "))  # 4
# print(int(area(radius)))

Enter Radius: 4.1
52

In [ ]:
# program to find volume of a cube
v= l*b*h # formula

In [8]:
def volume_of_cube(l, b, h):
    v = l*b*h
    return v

volume_of_cube(3, 5, 2)

30

In [9]:
volume_of_cube(4, 6, 9)

216

In [12]:
# write a  function to detect if a person can vote with their age
age  = 13

if age > 18:
    print("The person ca n vote")
else:
    print("The person cannot vote")

The person cannot vote

In [13]:

def eligible_vote(age):
    if age > 18:
        print("The person ca n vote")
    else:
        print("The person cannot vote")
        
eligible_vote(28)

The person ca n vote

Write a Python function to sum all the numbers in a list. <br>
a = [2, 6, 9, 10] <br>
output: 27

In [114]:
# Define a function named 'sum' that takes a list of numbers as input
a = [2, 6, 9, 10]
# expeted output is : 27

def sum(numbers):
    # Initialize a variable 'total' to store the sum of numbers, starting at 0
    total = 0
    
    # Iterate through each element 'x' in the 'numbers' list
    for x in numbers:
        # Add the current element 'x' to the 'total'
        total += x
    
    # Return the final sum stored in the 'total' variable
    return total

# Print the result of calling the 'sum' function with a tuple of numbers (8, 2, 3, 0, 7)
print(sum(a))

27

Write a Python function to multiply all the numbers in a list. <br>
a = [2, 6, 9, 10] <br>
output: 1080

In [4]:
# Define a function named 'multiply' that takes a list of numbers as input
a = [2, 6, 9, 10] 

def multiply(numbers):
    # Initialize a variable 'total' to store the multiplication result, starting at 1
    total = 1
    
    # Iterate through each element 'x' in the 'numbers' list
    for x in numbers:
        # Multiply the current element 'x' with the 'total'
        total *= x
    
    # Return the final multiplication result stored in the 'total' variable
    return total

# Print the result of calling the 'multiply' function with a tuple of numbers (8, 2, 3, -1, 7)
print(multiply(a))

1080