In [ ]:
# Create virtual environment with conda

<b>check conda version <br></b>
conda -V  <br>
conda --version <br>

In [1]:
!conda -V

conda 22.9.0

In [2]:
!python -V

Python 3.9.13

conda create -n yourenvname python=x.x <br>
example: conda create -n data_science python=3.9

<b>activate conda environment <br></b>
conda activate env_name <br>
Example: conda activate data_science <br>

<b>deactivate conda environment <br></b>
conda deactivate env_name <br>
Example: conda deactivate data_science <br>

<b>Why use virtual environment?? <br></b>
:> different project require different versions of libraries

<h1 style="color:Blue">Python Basics</h1>

* Python is general-purpose, high-level programming language. <br>
* It supports both function and Object Oriented Programming.

In [5]:
#check python version
!python --version

Python 3.8.17

In [3]:
#python Hello world
print("Hello, World!")

Hello, World!

In [4]:
print("Hello")

Hello

<h1 style="color:Blue">Python Indentation</h1>
<b>Indentation refers to the spaces at the beginning of a code line.

In [7]:
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!

In [11]:
if 5 > 2:
    print("Five is greater than two!") 
if 5 > 2:
    print("Five is greater than two!")

Five is greater than two!
Five is greater than two!

<h1 style="color:Blue">Python Comments</h1>

<b>Comments in python can be doe by : #, '''  '''.</b>

Comments can be used to prevent execution when testing code.

In [8]:
# print("Hello World!") 
# print("Hello World!")

<b>Comments can be used to explain Python code

In [17]:
print("Hello World!") #this is a code to print hello world

Hello World!

In [9]:
print("Hello World!")   #this is a code to print hello world

Hello World!

<h3>Multiline Comments</h3>

In [21]:
# This is a comment for hello world
# written in
# more than just one line
print("Hello World!")

Hello World!

In [22]:
'''This is a comment for hello world
written in
more than just one line'''
print("Hello World!")

Hello World!

In [13]:
x=7.5
y='c'

<h1 style="color:Blue">Python Variables</h1>
<b>variables are created when you assign a value to it

<h2>Variable Names</h2>

* A variable name must start with a letter or the underscore character
* A variable name cannot start with a number
* A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ )
* Variable names are case-sensitive (age, Age and AGE are three different variables)
* A variable name cannot be any of the Python keywords.

<b><h4>legal variable names:</h4><br> </b>
myvar = "Data science" <br>
my_var = "Data science" <br>
_my_var = "Data science" <br>
myVar = "Data science" <br>
MYVAR = "Data science" <br>
myvar2 = "Data science"

<b><h4>Illegal variable names:<h4></b> <br>
2myvar = "Data science" <br>
my-var = "Data science" <br>
my var = "Data science" <br>

<h4 >Camel Case</h4>
Each word, except the first, starts with a capital letter:

In [40]:
myVariableName = "Data science"

In [14]:
dataScience = 1

<h4 style="color:Red">Pascal Case</h4>
<b>Each word starts with a capital letter:

In [41]:
MyVariableName = "Data science"

<h4 style="color:Red">Snake Case</h4>
<b>Each word is separated by an underscore character:

In [43]:
my_variable_name = "Data science"

In [23]:
x = 5
y = "John"
print(x)
print(y)

5
John

<b>Variables do not need to be declared with any particular type, and can even change type after they have been set.

In [26]:
x = 4       # x is of type int
y = "Sally" # y is now of type str
print(x)
print(y)

4
Sally

In [17]:
x = str(3)    # x will be '3'
y = int(3)    # y will be 3
z = float(3)  # z will be 3.0
print(type(y))

<class 'int'>

<b>You can get the data type of a variable with the <u>type()</u> function.

In [29]:
x = 4       # x is of type int
y = 8.3333333  # y is a float
z = "Sally" # x is now of type str
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

<b>String variables can be declared either by using <u>single</u> or <u>double quotes</u>:

In [33]:
x = "John"
# is the same as
y = 'John'

print(x)
print(y)

John
John

<b>Variable names are <u>case-sensitive</u>.

In [21]:
a = 4
a = "Sally"
# A will not overwrite a

print(a)
print(A)

4

<h4 style="color:Red">Many Values to Multiple Variables</h4>

<b>Python allows you to assign values to multiple variables in one line

In [24]:
x, y, z = "Orange", "Banana", "Cherry"
print(x)
print(y)
print(z)

Orange
Banana
Cherry

In [22]:
x= "Orange"
y= "Banana"
z="Cherry"

<b>And you can assign the same value to multiple variables in one line

In [46]:
x = y = z = "Orange"
print(x)
print(y)
print(z)

Orange
Orange
Orange

<h4 style="color:Red">Unpack a Collection</h4>

In [27]:
fruits = [1, "banana", "cherry"]
x, y, z = fruits
print(x)
print(y)
print(z)
type(x)

1
banana
cherry

int

<h4 style="color:Red">Output Variables</h4>
<b>print() function is often used to output variables

In [51]:
x = "Python"
y = "is"
z = "awesome"
print(x, y, z)

Python is awesome

In [28]:
x = "Python "
y = "is "
z = "awesome"
print(x+y+z) # + is an operator

Python is awesome

In [31]:
x,y = 5,10
# y = 10
print(x - y)  # + is an operator,  5 and 10 are int data type

-5

In [32]:
x = 5
y = "John"
print(x + y)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [58]:
x = 5
y = "John"
print(x, y)

5 John

In [ ]:
#Exercise

<h1 style="color:Blue">Python Data Types</h1>

<h2>Built-in Data Types</h2>

<b>Variables can store data of different types, and different types can do different things. <br>


* Text Type:	str
* Numeric Types:	int, float, complex
* Sequence Types:	list, tuple, range
* Mapping Type:	dict
* Set Types:	set, frozenset
* Boolean Type:	bool
* Binary Types:	bytes, bytearray, memoryview
* None Type:	NoneType

In [61]:
x = "Hello World"
print(type(x))

<class 'str'>

In [62]:
x = 20
print(type(x))

<class 'int'>

In [63]:
x = 20.5
print(type(x))

<class 'float'>

In [64]:
x = 1j
print(type(x))

<class 'complex'>

In [36]:
x = ["apple", "banana", "cherry"]
print(type(x))
x[2]

<class 'list'>

'cherry'

In [66]:
x = ("apple", "banana", "cherry")
print(type(x))

<class 'tuple'>

In [33]:
x = range(6)
print(x)
print(type(x))

range(0, 6)
<class 'range'>

In [68]:
x = {"name" : "John", "age" : 36}
print(type(x))

<class 'dict'>

In [69]:
x = {"apple", "banana", "cherry"}
print(type(x))

<class 'set'>

In [70]:
x = frozenset({"apple", "banana", "cherry"})
print(type(x))

<class 'frozenset'>

In [71]:
x = True
print(type(x))

<class 'bool'>

In [72]:
x = b"Hello"
print(type(x))

<class 'bytes'>

In [73]:
x = bytearray(5)
print(type(x))

<class 'bytearray'>

In [74]:
x = memoryview(bytes(5))
print(type(x))

<class 'memoryview'>

In [75]:
x = None
print(type(x))

<class 'NoneType'>

<h2>Python Numbers</h2>

<b>There are three numeric types in Python:

* int
* float
* complex

In [76]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'complex'>

<h3 style="color:Red">Int</h3>
<b>Int, or integer, is a whole number, positive or negative, without decimals, of unlimited length.

In [77]:
x = 1
y = 35656222554887711
z = -3255522

print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'int'>
<class 'int'>

<h3style="color:Red">Float</h3>
Float, or "floating point number" is a number, positive or negative, containing one or more decimals.

In [82]:

x = 1.10
y = 1.0
z = -35.59

a = 35e3
b = 12E4
c = -87.7e100

print(type(x))
print(type(y))
print(type(z))
print(type(a))
print(type(b))
print(type(c))

<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>

<h3 style="color:Red">Complex</h3>
<b>Complex numbers are written with a "j" as the imaginary part:

In [83]:
x = 3+5j
y = 5j
z = -5j

print(type(x))
print(type(y))
print(type(z))

<class 'complex'>
<class 'complex'>
<class 'complex'>

<h3 style="color:Red">Type Conversion</h3>
<b>You can convert from one type to another with the int(), float(), and complex() methods

In [84]:
x = 1    # int
y = 2.8  # float
z = 1j   # complex

#convert from int to float:
a = float(x)

#convert from float to int:
b = int(y)

#convert from int to complex:
c = complex(x)

print(a)
print(b)
print(c)

print(type(a))
print(type(b))
print(type(c))

1.0
2
(1+0j)
<class 'float'>
<class 'int'>
<class 'complex'>

<h3>Specify a Variable Type</h3>
<b>There may be times when you want to specify a type on to a variable.

In [164]:
x = int(1)   # x will be 1
y = int(2.8) # y will be 2
z = int("3") # z will be 3

In [100]:
x = float(1)     # x will be 1.0
y = float(2.8)   # y will be 2.8
z = float("3")   # z will be 3.0
w = float("4.2") # w will be 4.2